:root {
  --dragonlord-purple: #6941c6;
  --nasu-purple: #7f56d9;
  --sambucus: #101828;
  --pale-sambucus: #5c6067;
  --paper-white: #edeff3;
  --satin-white: #d0d5dd;
  --light-white: #F9FAFB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  overflow: auto;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
